/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}



body {
    background-color: #10152F;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 12px;
}


/* HEADER */
header {
    height: 80px;
    background: rgba(15, 23, 42, 0.75);
    border-bottom: 1px solid #1e293b;
    display: flex;
    align-items: center;
}

.header-inner {
    width: 100%;
    padding: 0 40px;
    /* spacing links & rechts */
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 40px;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 28px;
    height: 28px;
}

.title {
    font-size: 1.1rem;
    color: #cbd5e1;
    letter-spacing: 1px;
}

.header-right ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header-right a {
    text-decoration: none;
    color: #cbd5e1;
    font-size: 0.95rem;
    transition: 0.2s;
}

.header-right a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    padding: 120px 20px 140px;
    text-align: center;
    background: linear-gradient(180deg, #0f172a 0%, #1e2a47 100%);
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

.subtitle {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 40px;
}

.snippet {
    background: #0f172a;
    padding: 20px;
    border-radius: 8px;
    width: max-content;
    margin: 0 auto 30px;
    color: #38bdf8;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

/* ABOUT */
.about {
    background: #11203f;
    padding: 80px 20px;
    text-align: center;
}

.about p{
font-size: 1.5rem;
}

.about-text {
    max-width: 1000px;
    margin: 0 auto;
    opacity: 0.85;
    line-height: 1.6;
}

.about-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-buttons button {
    padding: 12px 22px;
    background: #1f2f52;
    border: 1px solid #2c3f65;
    color: #e2e8f0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.about-buttons button:hover {
    background: #38bdf8;
    color: #0f172a;
}

/* PROJECTS */
.projects {
    padding: 80px 20px;
}

.projects h2 {
    text-align: center;
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: #11203f;
    padding: 16px;
    border-radius: 8px;
}

.card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* SKILLS */
.skills {
    padding: 80px 20px;
    text-align: center;
}

.skill-grid {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.skill-box {
    background: #11203f;
    padding: 20px;
    border-radius: 8px;
}

/* CONTACT */
.contact {
    padding: 80px 20px;
    text-align: center;
}

.contact-form {
    max-width: 400px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 14px;
    background: #0f172a;
    border: 1px solid #1e293b;
    color: #e2e8f0;
    border-radius: 6px;
}

.contact-form button {
    background: #38bdf8;
    color: #0f172a;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    color: #64748b;
    border-top: 1px solid #1e293b;
    margin-top: 60px;
}