/* generieke regels voor de hele pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #10152F;
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif
}


header {
    background-color: #0f172a;
    border-bottom: 1px solid #1e293b;
    height: 80px;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 40px;
}

nav a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.2s;
}

nav a:hover {
    color: #38bdf8;
}
